*{margin: 0;
padding: 0;}
.header-container{
    height: 600px;
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    
}
.head-writings{
    margin-right:0px;
    text-align: end;
    margin-right: 100px;
    margin-left: 700px;}
    .quote{color: #FFF;
        text-align: right;
        font-family: Work Sans;
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;}
.description {color:#FFF}  
   .btn{
            width: 130px;
           height: 54px;
           flex-shrink: 0;
            padding: 5px 3px;
            color: #005FAC;
            font-weight:600;
            border-radius:5px;
            margin-top: 20px;

        }  