*{margin: 0;
padding: 0;}
.header-container{
    height: 100vh;
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    
}
.head-writings{
    margin-right:0px;
    text-align: end;
    margin-right: 100px;
    margin-left: 700px;}
    .quote{color: #FFF;
        text-align: right;
        font-family: Work Sans;
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;}
.description {color:#FFF}  
   .btn{
            width: 130px;
           height: 54px;
           flex-shrink: 0;
            padding: 5px 3px;
            color: #005FAC;
            font-weight:600;
            border-radius:5px;
            margin-top: 20px;

        }  
        .main-container{
            display: flex;
            
            height: 100vh;
            align-items:center;
            justify-content: center;
            gap: 60px;

        }
        .main-heading{
            font-weight: 900;
        }
        .img-container{
            height: 80vh;
            width: 60vh;
            /* object-fit:contain; */
            

        }
        img{max-width: 100%;
            max-height: 100%;}
            .list{
                
              list-style-type:none
            }
            li::before{content: "\2713" ;
            color: rgb(6, 250, 14)}

